<% unless flash[:notice].blank? %>
  <div class="alert alert-info">
    <%= flash[:notice] %>
  </div>
<% end %>
<br />
<%= link_to 'New Image', new_image_path %>
<br />
<br />
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Thumbnail</th>
    </tr>
  </thead>
  <tbody>
    <% @images.each do |image| %>
      <tr>
        <td><%= image.name %></td>
        <td><%= image_tag image.image_url, width: '20%' %></td>
        <td><%= link_to 'Show URL', image_path(id: image.id, url: image.image_url) %></td>
      </tr>
    <% end %>
  </tbody>
</table>