<% unless @image.errors.empty? %>
  <div class="alert alert-error">
    <ul>
      <% @image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render 'shared/navbar' %>

<div class="upload-image">
  <%= form_for @image, html: { multipart: true } do |f| %>
    <%= f.text_field :name, placeholder: 'Your image name' %>
    <%= f.file_field :image %>
      <div class="with-padding">
        <%= link_to 'Back', images_path, class: 'btn' %>
        <%= f.submit 'Submit', class: 'btn' %>
      </div>
  <% end %>
</div>
